---
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';

import Page from '@components/astro/Page.astro';

import { defaultBlogConfig } from '@models/BlogConfig';
import { mkArticleStructuredData } from '@models/StructuredData';

import { mkLocaleDateString } from '@utils/date';

export const getStaticPaths = (async () => {
  const posts = await getCollection('posts');

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content } = await post.render();
---

<Page
  title={post.data.title}
  description={post.data.description || post.data.title}
  structuredData={mkArticleStructuredData(defaultBlogConfig)(post)}
>
  <div class="px-4" transition:animate={defaultBlogConfig.fadeTransition}>
    <div class="mb-4 border-b-2 border-neutral-400 pb-2 pt-4">
      <h1 class="text-2xl font-bold text-neutral-800">
        {post.data.title}
      </h1>

      <p class="my-1">
        {
          post.data.tags.map((tag) => (
            <span class="rounded-md border-2 border-neutral-300 px-1 text-sm font-medium text-neutral-400">
              #{tag}
            </span>
          ))
        }
      </p>

      <p class="mt-1 text-neutral-400">
        {mkLocaleDateString(defaultBlogConfig)(post.data.createdDate)}
      </p>
    </div>

    <article class="prose prose-neutral overflow-y-scroll">
      <Content />
    </article>
  </div>
</Page>
