---
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';

import LocaleDate from '@components/LocaleDate';
import MicroFormat from '@components/MicroFormatData';
import Page from '@components/Page';
import WebMention from '@components/WebMention';

import { blogConfig } from '@config/blog';

import { mkArticleStructuredData } from '@models/StructuredData';

export const getStaticPaths = (async () => {
	const posts = await getCollection('posts');

	return posts.map((post) => ({
		params: { slug: post.slug },
		props: { post },
	}));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content } = await post.render();
---

<Page
	title={post.data.title}
	description={post.data.description || post.data.title}
	structuredData={mkArticleStructuredData(post)}
>
	<MicroFormat post={post} />

	<div class="px-4" transition:animate={blogConfig.transition}>
		<div class="mb-3 border-b-2 border-neutral-400 pb-3 pt-4">
			<h1 class="mb-2 text-2xl font-bold text-neutral-900">
				{post.data.title}
			</h1>

			<p class="text-sm font-medium text-neutral-500">
				發佈日期：<LocaleDate date={post.data.createdDate} />
			</p>
		</div>

		<article class="prose prose-neutral overflow-y-scroll px-1">
			<Content />
		</article>

		<div
			class="mb-6 mt-6 border-t-2 border-dashed border-neutral-400 px-1 pt-5"
		>
			<WebMention slug={post.slug} mastodonRepost={post.data.mastodonRepost} />
		</div>
	</div>
</Page>
