---
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';

import GiscusComments from '@components/GiscusComments.astro';
import Page from '@components/Page.astro';
import S from '@components/Style';

import { blogConfig } from '@config/blog';
import { mkArticleStructuredData } from '@models/StructuredData';

import { mkLocaleDateString } from '@utils/date';

export const getStaticPaths = (async () => {
  const posts = await getCollection('posts');

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content } = await post.render();
---

<Page
  title={post.data.title}
  description={post.data.description || post.data.title}
  structuredData={mkArticleStructuredData(blogConfig)(post)}
>
  <div class="h-entry px-4" transition:animate={blogConfig.transition}>
    <S.BottomBorderContainer class="mb-4 pb-2 pt-4">
      <S.PostTitle class="p-name">
        {post.data.title}
      </S.PostTitle>

      <!-- hidden self-link -->
      <a
        hidden
        class="u-url"
        href=`https://blog.rileycki.com/posts/${post.slug}`></a>

      <S.HorizontalView.SmallGap class="my-1">
        {
          post.data.tags.map((tag) => (
            <S.RoundedContainer class="px-1">
              <S.GrayerSubText.Block>#{tag}</S.GrayerSubText.Block>
            </S.RoundedContainer>
          ))
        }
      </S.HorizontalView.SmallGap>

      <S.GrayerSubText.Block class="h-card my-1"
        >作者：<a
          href="https://blog.rileycki.com"
          class="p-author p-name u-url underline">Riley Chang</a
        ></S.GrayerSubText.Block
      >

      <S.GrayerSubText.Block>
        發佈日期：<time
          class="dt-published"
          datetime={post.data.createdDate.toISOString()}
          >{mkLocaleDateString(blogConfig)(post.data.createdDate)}</time
        >
      </S.GrayerSubText.Block>
    </S.BottomBorderContainer>

    <S.MarkdownContainer class="e-content">
      <Content />
    </S.MarkdownContainer>

    <!-- giscus -->
    <S.TopBorderContainer class="mb-4 mt-4 border-dashed pt-6">
      <GiscusComments />
    </S.TopBorderContainer>
  </div>
</Page>
