---
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';

import GiscusComments from '@components/GiscusComments.astro';
import Page from '@components/Page.astro';
import S from '@components/Style';

import { blogConfig } from '@config/blog';
import { mkArticleStructuredData } from '@models/StructuredData';

import { mkLocaleDateString } from '@utils/date';

export const getStaticPaths = (async () => {
  const posts = await getCollection('posts');

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content } = await post.render();
---

<Page
  title={post.data.title}
  description={post.data.description || post.data.title}
  structuredData={mkArticleStructuredData(blogConfig)(post)}
>
  <div class="px-4" transition:animate={blogConfig.transition}>
    <S.BottomBorderContainer class="mb-4 pb-2 pt-4">
      <S.PostTitle>
        {post.data.title}
      </S.PostTitle>

      <S.HorizontalView.SmallGap class="my-1">
        {
          post.data.tags.map((tag) => (
            <S.RoundedContainer class="px-1">
              <S.GrayerSubText.Block>#{tag}</S.GrayerSubText.Block>
            </S.RoundedContainer>
          ))
        }
      </S.HorizontalView.SmallGap>

      <S.GrayerSubText.Block>
        {mkLocaleDateString(blogConfig)(post.data.createdDate)}
      </S.GrayerSubText.Block>
    </S.BottomBorderContainer>

    <S.MarkdownContainer>
      <Content />
    </S.MarkdownContainer>

    <!-- giscus -->
    <S.TopBorderContainer class="mb-4 mt-4 border-dashed pt-6">
      <GiscusComments />
    </S.TopBorderContainer>
  </div>
</Page>
