---
import { navigations } from './data';

import { blogConfig } from '@config/blog';
---

<div
	class="flex flex-col items-center gap-2 border-b-2 border-neutral-400 pb-4 pt-8"
>
	<h1 class="text-3xl font-bold text-neutral-900">{blogConfig.title}</h1>

	<div>
		{
			blogConfig.subtitleLines.map((subtitleLine) => (
				<p class="text-center text-sm font-medium text-neutral-700">
					{subtitleLine}
				</p>
			))
		}
	</div>

	<div class="flex flex-row gap-4">
		{
			navigations.map((navigation) => (
				<a href={navigation.location} data-astro-prefetch="load">
					<span class="text-sm font-medium text-neutral-700">
						{navigation.emoji}
					</span>
					<span class="text-sm font-medium text-neutral-700 underline">
						{navigation.description}
					</span>
				</a>
			))
		}
	</div>
</div>
