---
import { getCollection } from 'astro:content';

import BlogInfo from '@components/BlogInfo.astro';
import Page from '@components/Page.astro';

import { defaultBlogConfig } from '@models/BlogConfig';
import { defaultNavigations } from '@models/Navigation';

import { mkLocaleDateString } from '@utils/date';

/* get all posts, to list them in the archive page */
const posts = await getCollection('posts').then((posts) =>
  posts
    .sort((a, b) => b.data.createdDate.getTime() - a.data.createdDate.getTime())
    .slice(0, 10),
);
---

<Page
  title={defaultBlogConfig.title}
  description={defaultBlogConfig.description}
>
  <div class="flex flex-col text-neutral-800">
    <BlogInfo blogConfig={defaultBlogConfig} navigations={defaultNavigations} />

    <ul
      class="list-disc px-4"
      transition:animate={defaultBlogConfig.transition}
    >
      {
        posts.map((post) => (
          <li class="ml-5 px-1 pt-3">
            <a class="flex flex-col gap-1" href={`/posts/${post.slug}`}>
              <span class="font-bold">{post.data.title}</span>

              <div class="flex flex-row place-items-center gap-2">
                <span class="flex flex-row gap-1">
                  {post.data.tags.map((tag) => (
                    <span class="rounded-md border-2 border-neutral-300 px-1 text-sm font-medium text-neutral-400">
                      #{tag}
                    </span>
                  ))}
                </span>

                <span class="text-sm font-medium text-neutral-400">
                  {mkLocaleDateString(defaultBlogConfig)(post.data.createdDate)}
                </span>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Page>
