---
import { getCollection } from 'astro:content';

import BlogInfo from '@components/BlogInfo.astro';
import Page from '@components/Page.astro';
import S from '@components/Style';

import { blogConfig } from '@config/blog';

import { mkLocaleDateString } from '@utils/date';

/* get all posts, to list them in the archive page */
const posts = await getCollection('posts').then((posts) =>
  posts
    .sort((a, b) => b.data.createdDate.getTime() - a.data.createdDate.getTime())
    .slice(0, 10),
);
---

<Page title={blogConfig.title} description={blogConfig.description}>
  <S.VerticalView.NoGap>
    <BlogInfo blogConfig={blogConfig} />

    <ul class="list-disc px-4" transition:animate={blogConfig.transition}>
      {
        posts.map((post) => (
          <li class="ml-5 px-1 pt-3">
            <a class="block" href={`/posts/${post.slug}`}>
              <S.VerticalView.SmallGap>
                <S.MainText._>{post.data.title}</S.MainText._>

                <S.HorizontalView._ class="place-items-center">
                  <S.HorizontalView.SmallGap>
                    {post.data.tags.map((tag) => (
                      <S.RoundedContainer>
                        <S.SupportingText.Block>#{tag}</S.SupportingText.Block>
                      </S.RoundedContainer>
                    ))}
                  </S.HorizontalView.SmallGap>

                  <S.SupportingText._>
                    {mkLocaleDateString(blogConfig)(post.data.createdDate)}
                  </S.SupportingText._>
                </S.HorizontalView._>
              </S.VerticalView.SmallGap>
            </a>
          </li>
        ))
      }
    </ul>
  </S.VerticalView.NoGap>
</Page>
