---
import { getCollection } from 'astro:content';

import BlogInfo from '@components/BlogInfo.astro';
import Page from '@components/Page.astro';

import { blogConfig } from '@config/blog';

import { mkLocaleDateString } from '@utils/date';

/* get all posts, to list them in the archive page */
const posts = await getCollection('posts').then((posts) =>
  posts
    .sort((a, b) => b.data.createdDate.getTime() - a.data.createdDate.getTime())
    .slice(0, 10),
);
---

<Page title={blogConfig.title} description={blogConfig.description}>
  <div class="flex flex-col">
    <div class="mx-4">
      <BlogInfo />
    </div>

    <ul class="list-disc px-4" transition:animate={blogConfig.transition}>
      {
        posts.map((post) => (
          <li class="ml-5 px-1 pt-3">
            <a class="block" href={`/posts/${post.slug}`}>
              <div class="flex flex-col gap-1">
                <span class="text-lg font-bold text-neutral-900">
                  {post.data.title}
                </span>

                <div class="flex flex-row place-items-center gap-1">
                  <div class="flex flex-row gap-1">
                    {post.data.tags.map((tag) => (
                      <span class="rounded-md border-2 border-neutral-300 px-1 text-sm font-medium text-neutral-400">
                        #{tag}
                      </span>
                    ))}
                  </div>

                  <span class="text-sm font-medium text-neutral-400">
                    {mkLocaleDateString(blogConfig)(post.data.createdDate)}
                  </span>
                </div>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Page>
