---
import { getCollection } from 'astro:content';

import BlogInfo from '@components/BlogInfo';
import LocaleDate from '@components/LocaleDate';
import Page from '@components/Page';

import { blogConfig } from '@config/blog';

/* get all posts, to list them in the archive page */
const posts = await getCollection('posts').then((posts) =>
	posts
		.sort((a, b) => b.data.createdDate.getTime() - a.data.createdDate.getTime())
		.slice(0, 10),
);
---

<Page title={blogConfig.title} description={blogConfig.description}>
	<div class="flex flex-col py-2">
		<div class="mx-4">
			<BlogInfo />
		</div>

		<ul class="list-disc px-4" transition:animate={blogConfig.transition}>
			{
				posts.map((post) => (
					<li class="ml-5 px-1 pt-3">
						<a
							class="block"
							href={`/posts/${post.slug}`}
							data-astro-prefetch="hover"
						>
							<div class="flex flex-col gap-1">
								<span class="text-lg font-bold text-neutral-900">
									{post.data.title}
								</span>

								<div class="flex flex-row place-items-center gap-1">
									<div class="flex flex-row gap-1">
										{post.data.tags.map((tag) => (
											<span class="rounded-md border-2 border-neutral-400 px-1 text-sm font-medium text-neutral-500">
												#{tag}
											</span>
										))}
									</div>

									<div class="text-sm font-medium text-neutral-500">
										<LocaleDate date={post.data.createdDate} />
									</div>
								</div>
							</div>
						</a>
					</li>
				))
			}
		</ul>
	</div>
</Page>
