---
import { getCollection } from 'astro:content';

import BlogInfo from '@components/BlogInfo.astro';
import Page from '@components/Page.astro';
import S from '@components/Style';

import { blogConfig } from '@config/blog';

import { mkLocaleDateString } from '@utils/date';

/* take first 10 posts, ordered by created date, to generate index */
const posts = await getCollection('posts').then((posts) =>
  posts
    .sort((a, b) => b.data.createdDate.getTime() - a.data.createdDate.getTime())
    .slice(0, 10),
);
---

<Page title={blogConfig.title} description={blogConfig.description}>
  <S.VerticalView.NoGap>
    <BlogInfo />

    <div class="px-4" transition:animate={blogConfig.transition}>
      {
        posts.map((post) => (
          <S.BottomBorderContainer class="px-1 py-3">
            <a href={`/posts/${post.slug}`}>
              <article>
                <S.MainText.Header>{post.data.title}</S.MainText.Header>

                <S.HorizontalView.SmallGap class="mb-1">
                  {post.data.tags.map((tag) => (
                    <S.RoundedContainer>
                      <S.SupportingText.Block>#{tag}</S.SupportingText.Block>
                    </S.RoundedContainer>
                  ))}
                </S.HorizontalView.SmallGap>

                <S.SupportingText.Para class="mb-1">
                  {mkLocaleDateString(blogConfig)(post.data.createdDate)}
                </S.SupportingText.Para>

                {post.data.cover ? (
                  <img class="my-2" src={post.data.cover} />
                ) : null}

                <S.PostSummaryText>{post.data.description}</S.PostSummaryText>
              </article>
            </a>
          </S.BottomBorderContainer>
        ))
      }
    </div>

    <S.SubText.Para class="p-3 text-center italic">
      ~主頁僅顯示最近十則~
    </S.SubText.Para>
  </S.VerticalView.NoGap>
</Page>
