---
import { getCollection } from 'astro:content';

import BlogInfo from '@components/astro/BlogInfo.astro';
import Page from '@components/astro/Page.astro';

import { defaultBlogConfig } from '@models/BlogConfig';
import { defaultNavigations } from '@models/Navigation';

import { mkLocaleDateString } from '@utils/date';

/* take first 10 posts, ordered by created date, to generate index */
const posts = await getCollection('posts').then((posts) =>
  posts
    .sort((a, b) => b.data.createdDate.getTime() - a.data.createdDate.getTime())
    .slice(0, 10),
);
---

<Page
  title={defaultBlogConfig.title}
  description={defaultBlogConfig.description}
>
  <div class="flex flex-col">
    <BlogInfo blogConfig={defaultBlogConfig} navigations={defaultNavigations} />

    <ul class="px-4" transition:animate={defaultBlogConfig.slideTransition}>
      {
        posts.map((post) => (
          <li class="border-b-2 border-dashed border-neutral-400 px-1 py-3">
            <a href={`/posts/${post.slug}`}>
              <article>
                <h2 class="text-lg font-bold">{post.data.title}</h2>

                <p class="mb-1">
                  {post.data.tags.map((tag) => (
                    <span class="rounded-md border-2 border-neutral-300 px-1 text-xs font-medium text-neutral-400">
                      #{tag}
                    </span>
                  ))}
                </p>

                <p class="mb-1 text-xs text-neutral-400">
                  {mkLocaleDateString(defaultBlogConfig)(post.data.createdDate)}
                </p>

                {post.data.cover ? (
                  <img class="my-2" src={post.data.cover} />
                ) : null}

                <p class="text-sm text-neutral-800">{post.data.description}</p>
              </article>
            </a>
          </li>
        ))
      }
    </ul>

    <p class="p-3 text-center text-sm font-medium italic text-neutral-600">
      ~主頁僅顯示最近十則~
    </p>
  </div>
</Page>
