---
import BlogInfo from '@components/astro/BlogInfo.astro';
import Page from '@components/astro/Page.astro';

import { getCollection } from 'astro:content';

/* take first 10 posts, ordered by created date, to generate index */
const posts = await getCollection('posts').then((posts) =>
  posts
    .sort((a, b) => b.data.createdDate.getTime() - a.data.createdDate.getTime())
    .slice(0, 10),
);
---

<Page title="廢話集散空間" description="什麼都可能寫，喜歡也好，不喜歡也好。">
  <div class="flex flex-col">
    <BlogInfo/>

    <ul class="px-4">
      {
        posts.map((post) => (
          <li class="py-3 px-1 border-b-2 border-dashed border-neutral-400">
            <a href={`/posts/${post.slug}`}>
              <article>
                <h2 class="text-lg font-bold">{post.data.title}</h2>

                <p class="text-xs text-neutral-400">
                  {post.data.createdDate.toLocaleDateString()}
                </p>

                <img class="my-2" src={post.data.cover} />

                <p class="text-neutral-800 text-sm">{post.data.description}</p>
              </article>
            </a>
          </li>
        ))
      }
    </ul>

    <p class="text-center p-3">🥑</p>
  </div>
</Page>
