---
import S from '@components/Style';

import { blogConfig } from '@config/blog';

/* props */
interface Navigation {
  emoji: string;
  description: string;
  location: string;
}

const navigations: Navigation[] = [
  { emoji: '🏡', description: '主頁', location: '/' },
  { emoji: '🗃️', description: '歸檔', location: '/archive' },
  { emoji: '🤖', description: '關於我', location: '/about' },
  { emoji: '📡', description: 'RSS', location: '/rss.xml' },
];
---

<S.BottomBorderContainer class="mx-4 pb-4 pt-8">
  <S.VerticalView._ class="items-center">
    <S.BlogTitle>{blogConfig.title}</S.BlogTitle>

    <div>
      {
        blogConfig.subtitleLines.map((subtitleLine) => (
          <S.SubText.Para class="text-center">{subtitleLine}</S.SubText.Para>
        ))
      }
    </div>

    <S.HorizontalView.NoGap class="gap-4">
      {
        navigations.map((navigation) => (
          <a href={navigation.location}>
            <S.SubText._>{navigation.emoji}</S.SubText._>
            <S.SubText._ class="underline">
              {navigation.description}
            </S.SubText._>
          </a>
        ))
      }
    </S.HorizontalView.NoGap>
  </S.VerticalView._>
</S.BottomBorderContainer>
